.List {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 10px;
}

.List__item {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 320px;
    max-height: 220px;
}


/* Tablet and Smaller Desktop */
@media (min-width: 1000px) and (max-width: 1600px) {
    .List {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .List {
        grid-template-columns: repeat(2, 1fr);
    }
}
