.List {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 10px;
}

.List__item {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 320px;
    max-height: 220px;
}

@media (max-width: 1300px) {
    .List {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .List {
        grid-template-columns: repeat(1, 1fr);
    }
}
