.ModelList {
    display: flex;
    flex-direction: column;
}

.ModelList__content {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.ModelList__sidebar {
    width: 320px;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    align-self: flex-start;
}

.ModelList__main {
    flex-shrink: 1;
}

@media (max-width: 720px) {
    .ModelList__sidebar {
        display: none;
    }
}
