.Layout {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.Layout__header {
  background-color: var(--header-background);
}

.Layout__footer {
  background-color: var(--footer-background);
}

.Layout__main {
  margin-bottom: auto;
  margin-top: 20px;
}

.Layout__center {
  width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.Layout__marginTop {
  margin-top: 20px;
}



/* Mobile */
@media (max-width: 700px) {
  .Layout__center {
    width: calc(100% - 40px);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1220px) {
  .Layout__center {
    width: calc(100% - 40px);
  }
}
